<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <h1>MusicApp</h1>

  </header>

  <body>
    <% if logged_in? %>
    <p>HELLLO!!! <%=current_user.email%></p>
      <form action= "<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <%= auth_token %>
        <input class="signout" type="submit" value="Sign Out">
      </form>
    <% else %>
      <a class = "button" href="<%= new_session_url %>">Sign In</a>
      <a class = "button" href="<%= new_user_url %>">Sign Up</a>
    <% end %>
    <%= yield %>


<!-- <div class="tester">
  <p>1 p</p>
  <p>2 p</p>
  <p>3 p</p>

</div> -->





  </body>
</html>

<!-- Create login/signup views and edit application.html.erb layout so that a logged in user is displayed a "sign-out" button and a logged-out user is displayed links to sign-up or sign-in pages. -->
